@model List<EShop.Web.Models.Domain.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="m-3">
        <a class="btn btn-success" asp-controller="Products" asp-action="Create">Add new Product</a>
    </div>

    @for (var i = 0; i < Model.Count; i++)
    {
        var item = Model[i];

        if(i % 3 == 0)
        {
            @:<div class="row">
        }

        <div class="col-md-3 m-4">
            <div class="card" style="width: 18rem; height: auto;">
                <img class="card-img-top" src="@item.ProductImage" style="height: 18rem;" alt="Image for product" />

                <div class="card-body">
                    <h3 class="card-title">@item.ProductName</h3>
                    <p class="card-text">@item.ProductDescription</p>
                

                    <h6>Price: @item.ProductPrice MKD</h6>
                </div>

                <div class="card-footer">
                <a asp-controller="Products" asp-action="AddProductToCard" asp-route-id="@item.Id" class="btn btn-info">Add to Card</a>
                <a asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                <a asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>

                </div>
            </div>
        </div>

        if(i % 3 == 2)
        {
            @:</div>
        }

    }

</div>